.my-input {
	border-radius: 50px !important;
	padding: 10px !important;
}

.my-button {
	border-radius: 50px !important;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
}