@font-face {
	font-family: 'Nunito';
	src: 'fonts/Nunito-Light.ttf';
}
/*body {
	font-family: 'Nunito' !important;
}
input {
	font-size: 1.2em;
}*/

.my-input {
	border-radius: 50px !important;
	background-color: #FAFAFA;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	height: 60px !important;
}

.my-button {
	border-radius: 30px !important;
	font-size: 16px;
	padding: 12px 16px;
}

.my-slide {
	background-size: cover;
	background-blend-mode: multiply;
	background-color: hsla(0, 0%, 0%, .55);
}

img.svg {
	font-size: 14px;
}